/* Utilities */
.constraint {
    max-width: 72rem;
    margin-inline: auto;
}

.center-content {
    display: grid;
    place-items: center;
}

.px-1 {
    padding-inline: 1rem;
}

.section {
    padding: 2.5rem calc(.7rem + 5vw);

    @media (min-width: 51rem) {
        padding-block: 5rem;      
    }

    &.form_section, &.faq-section {
        padding-top: 0;
    }
    
}