@use 'resets';
@use 'general';
@use 'navbar';

.constraint-720 {
    max-width: 720px;
    margin-inline: auto;
    margin-bottom: 4rem;
    padding-inline: 2rem;
}

.constraint-1024 {
    max-width: 1024px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.subpage-hero {
    height: 480px;
    background: linear-gradient(1deg, #03cdfd 0%, rgb(57, 125, 214) 100%);
    position: relative;
    padding-top: 115px;
    padding-inline: 2rem;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../images/geometric-bg.jpg);
        background-size: 75%;
        opacity: 0.05;
    }
}

.intro {
    display: flex;
    margin-block: 2rem;
    gap: 2rem;
    align-items: center;

    &-image {
        background-color: general.$primary-color-1;
        aspect-ratio: 1 / .75;
        height: 100%;

        img {
            height: 100%;
            object-fit: cover;
            min-width: 100%;
        }
    }

    @media (max-width: 760px) {
        flex-direction: column;

        &-image {
            aspect-ratio: 1 / .45;

            img {
                width: 100%;     
            }
            
        }
    }

    @media (min-width: 760px) {
        padding-block: 2rem;

        > * {
            flex: 440px 1 1;
        }
    }

    .lead {
        font-weight: 600;
        font-size: 28px;
        display: block;
        margin-bottom: .5rem;
    }

    .paragraph {
        text-wrap: pretty;
    }
}

.h1 {
    font-size: clamp(2rem, 1.4222rem + 1.7778vw, 3rem);
    font-weight: 800;
}

.h2 {
    color: #242424;
    margin-top: 2rem;
}

.list, .h3, table {
    margin-top: 1rem;    
}

.paragraph, .list li {
    color: #242424;
    line-height: 30px;
    font-size: 18px; 
    margin-top: .5rem;
}

.list {
   margin-inline: 1rem;

   li {
        list-style-type: square;
        list-style-position: inside;
   }
}

.grid-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;

    @media (min-width: 420px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 640px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.term {
    font-weight: 600;
}

table {
    width: 100%;
}

th, td {
    text-align: left;
}