html {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100vw;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Variables */
/* Utilities */
.constraint {
  max-width: 72rem;
  margin-inline: auto;
}

.center-content {
  display: grid;
  place-items: center;
}

.px-1 {
  padding-inline: 1rem;
}

.section {
  padding: 2.5rem calc(0.7rem + 5vw);
}
@media (min-width: 51rem) {
  .section {
    padding-block: 5rem;
  }
}
@media (min-width: 72rem) {
  .section {
    padding-inline: 0;
  }
}
.section.form_section, .section.faq-section {
  padding-top: 0;
}

.img-container img {
  object-fit: cover;
  height: 100%;
  min-width: 100%;
}

.hero {
  padding-top: 115px;
}

/* Navigation Bar */
/* Session Booking */
.session {
  background-color: rgb(44, 66, 5);
  color: #fff;
  text-align: center;
}
.session h2 {
  max-width: 45rem;
  text-wrap: balance;
}
.session p {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2;
  opacity: 0.8;
  margin-block: 0.75rem 2rem;
}
@media (min-width: 40rem) {
  .session p {
    margin-block: 1rem 2.5rem;
  }
}
.session a {
  background-color: #acff1c;
  color: rgb(44, 66, 5);
  font-weight: 500;
  padding: 1rem;
  transition: background-color 1s, color 1s;
}
.session a:hover {
  background-color: rgba(172, 255, 28, 0.548);
}

.bar__wrapper {
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  inset: 0 0 auto;
  z-index: 100;
  background-color: #fff;
  max-height: 100vh;
  overflow-y: auto;
}

.topbar {
  background-color: black;
  padding: 0.65rem 0;
}
.topbar p {
  color: #fff;
  text-align: center;
}
.topbar a {
  color: #acff1c;
}
.topbar a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.65rem 1rem;
}
nav .logo {
  width: 9rem;
}
nav .navlink {
  color: black;
  font-weight: 600;
  font-size: 1rem;
}
nav .navlink:hover {
  color: #397dd6;
}

.navlinks {
  display: flex;
  gap: 2rem;
}
.navlinks .caret {
  height: 10px;
  margin-left: 4px;
}
@media (max-width: 40rem) {
  .navlinks {
    display: none;
    gap: 0;
    flex-direction: column;
    order: 3;
    width: 100%;
    padding: 1.5rem;
  }
  .navlinks .navlink {
    display: block;
    padding-block: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.mobile-nav {
  display: none;
  width: 1.5rem;
}
.mobile-nav img:last-child {
  display: none;
}
@media (max-width: 40rem) {
  .mobile-nav {
    display: block;
  }
}

.services [data-state=collapsed] {
  display: none;
}
@media (min-width: 40rem) {
  .services [data-state=expanded] {
    display: flex;
  }
}

.services-dropdown {
  padding-block: 1rem 2rem;
  background-color: #eeeeee;
  margin-top: 1rem;
}
@media (min-width: 40rem) {
  .services-dropdown {
    padding-block: 2rem;
    border-radius: 12px;
    min-width: 630px;
    position: fixed;
    right: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .services-dropdown .service-link {
    padding: 1rem;
  }
}
.services-dropdown > * {
  padding-inline: 2rem;
}
.services-dropdown a {
  color: #59636e;
  font-size: 15px;
}

.service-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  border-radius: 8px;
}
.service-link:hover {
  background-color: #f9f9f9;
}
.service-link:hover .first-word {
  color: #397dd6;
}
.service-link img {
  width: 32px;
  opacity: 0.9;
}
.service-link p {
  line-height: 1.3;
}
.service-link .first-word {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 40rem) {
  .main-services {
    border-right: 1px solid rgba(89, 99, 110, 0.267);
  }
}

.other-services {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
}
.other-services span {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
}
.other-services a:hover {
  color: #397dd6;
}

footer {
  background-color: #010c16;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.hero {
  background: linear-gradient(1deg, #03cdfd 0%, rgb(57, 125, 214) 100%);
  position: relative;
  padding-top: 115px;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/geometric-bg.jpg);
  background-size: 75%;
  opacity: 0.05;
}

main {
  display: flex;
  flex-direction: column;
}
main .heading-wrapper {
  padding-block: calc(1rem + 5vw);
  z-index: 20;
}
@media (min-width: 51rem) {
  main {
    flex-direction: row;
    gap: 4rem;
    align-items: center;
  }
}

.hero-image {
  z-index: 20;
}
.hero-image img {
  object-fit: cover;
  height: 100%;
}
@media (max-width: 51rem) {
  .hero-image {
    order: -1;
    min-width: 100vw;
  }
  .hero-image img {
    width: 100%;
    max-height: 400px;
  }
}
@media (min-width: 51rem) {
  .hero-image {
    width: 320px;
    height: 400px;
    align-self: end;
  }
  .hero-image img {
    object-position: top right;
  }
}

h1 {
  font-size: clamp(1.5rem, 1.4rem + 1.7vw, 2.5rem);
  line-height: 1.18;
  font-weight: 700;
  letter-spacing: -0.5;
}
@media (min-width: 356px) {
  h1 {
    display: grid;
  }
}

.prehead {
  color: #397dd6;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.details h2 {
  font-weight: 500;
  margin-bottom: 2.5rem;
  max-width: 47.5rem;
  margin-inline: auto;
  font-size: clamp(1.2rem, 0.63rem + 2vw, 2rem);
  line-height: 1.2;
  text-wrap: pretty;
}
.details h2 span {
  font-weight: 800;
  font-size: clamp(1.2rem, 0.63rem + 2vw, 2.1rem);
}
@media (min-width: 41rem) {
  .details h2, .details .prehead {
    text-align: center;
  }
}

.contact-info {
  font-size: 1.2rem;
  display: grid;
  gap: 1rem;
}
@media (min-width: 41rem) {
  .contact-info {
    grid-template-columns: 0.8fr 1fr;
    max-width: 720px;
    margin-inline: auto;
  }
}

[class^=details-] {
  background-color: #397dd6;
  border-radius: 0.5rem;
  overflow: hidden;
}

.details-2 {
  padding-bottom: 2.5rem;
}
.details-2 .detail {
  padding-top: 2.5rem;
}

.detail {
  padding-inline: 2rem;
}
.detail p {
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.85);
}
.detail:last-child {
  padding-top: 1.5rem;
}
.detail [alt*=icon] {
  height: 2rem;
  margin-bottom: 0.5rem;
}

.details-1 {
  padding-block: 2.5rem;
}
@media (max-width: 41rem) {
  .details-1 {
    display: flex;
    flex-wrap: wrap;
  }
  .details-1 .detail {
    padding-block: 0 1rem;
  }
}

.detail-body h3 {
  font-weight: 600;
  color: #fff;
}

.map {
  aspect-ratio: 3/1.5;
  width: 100%;
  overflow: hidden;
}
.map img {
  object-fit: cover;
  height: 100%;
  transition: transform 1s;
}
.map img:hover {
  transform: scale(2);
}

h2:not(.details h2) {
  margin-bottom: 0.4rem;
  font-size: clamp(1.5rem, 1.0213rem + 2.1277vw, 2.5rem);
  line-height: 1.1;
  letter-spacing: -2px;
  font-weight: 600;
}

.form-box {
  display: grid;
}
@media (min-width: 45rem) {
  .form-box {
    grid-template-columns: 1fr 1fr;
  }
}
.form-box p {
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
}
.form-box__image {
  background-color: #397dd6;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/contact-form-2.jpg) no-repeat center center;
  background-size: cover;
  background-position: right;
}
@media (max-width: 45rem) {
  .form-box__image {
    min-height: 15rem;
    margin-bottom: 1.5rem;
  }
}
.form-box__form {
  padding: 3rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
@media (min-width: 64rem) {
  .form-box__form {
    padding: 5rem 4rem;
  }
}
.form-box label {
  line-height: 2;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.1rem;
}
.form-box input {
  height: 2.5rem;
}
.form-box textarea {
  height: 10rem;
}
.form-box input, .form-box textarea {
  width: 100%;
  background-color: rgba(57, 125, 214, 0.25);
  border: 0;
}
.form-box input:hover, .form-box textarea:hover {
  background-color: rgba(57, 125, 214, 0.4);
}
.form-box input:focus, .form-box textarea:focus {
  outline: none;
  border: 1px solid rgba(57, 125, 214, 0.4);
  background-color: #fff;
}
.form-box [type=submit] {
  background-color: rgb(10, 82, 177);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.form-box [type=submit]:hover {
  background-color: rgba(10, 82, 177, 0.85);
}

.form {
  display: grid;
  gap: 0.65rem;
}

.faq-section p {
  max-width: 47.5rem;
}

.faq__head-parent {
  background: linear-gradient(180deg, #03cdfd 0%, #397dd6 100%);
}
.faq__head-parent::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/geometric-bg.jpg);
  background-size: 75%;
  opacity: 0.02;
}

.faq__head {
  padding: 2rem;
  position: relative;
}
.faq__head a {
  color: #fff;
  text-decoration: underline;
}
.faq__head a:hover {
  color: #acff1c;
}

.faq__body {
  position: relative;
  z-index: 5;
  padding: 2.5rem;
}
@media (max-width: 42rem) {
  .faq__body {
    padding-inline: 1rem;
  }
}
@media (max-width: 27rem) {
  .faq__body {
    padding-inline: 0;
  }
}

.faq {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  max-width: 50rem;
  margin-inline: auto;
}
.faq:hover {
  border-top: 1px solid #397dd6;
}
.faq__question {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.8);
}
.faq__answer {
  display: none;
}

.active {
  border-top: 1px solid rgba(57, 125, 214, 0.65);
}
.active .faq__question {
  color: #397dd6;
}
.active .faq__answer {
  display: block;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
  max-width: 80ch;
}

/*# sourceMappingURL=contact.css.map */
