html {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}
.container {
  width: 100vw;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.constraint {
  margin-inline: auto;
  max-width: 72rem;
}
.center-content {
  display: grid;
  place-items: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.px-1 {
  padding-inline: 1rem;
}
.section {
  padding: 2.5rem calc(0.7rem + 5vw);
}
@media (min-width: 51rem) {
  .section {
    padding-block: 5rem;
  }
}
@media (min-width: 72rem) {
  .section {
    padding-inline: 0;
  }
}
.section.faq-section,
.section.form_section {
  padding-top: 0;
}
.img-container img {
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}
.hero {
  padding-top: 115px;
}
.session {
  background-color: #2c4205;
  color: #fff;
  text-align: center;
}
.session h2 {
  font-size: clamp(1.2rem, 1.0213rem + 2.1277vw, 2.3rem);
  letter-spacing: 1;
  line-height: 1.1;
  max-width: 45rem;
  text-wrap: balance;
}
.session p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-block: 0.75rem 2rem;
  opacity: 0.8;
}
@media (min-width: 40rem) {
  .session p {
    margin-block: 1rem 2.5rem;
  }
}
.session a {
  background-color: #acff1c;
  color: #000;
  font-weight: 500;
  padding: 1rem;
  transition: color 0.5s, background-color 0.5s;
}
.session a:hover {
  background-color: #fff;
}
footer {
  background-color: #010c16;
  padding: 1rem;
}
footer a,
footer p {
  color: hsla(0, 0%, 100%, 0.7);
}
footer a:hover {
  color: #397dd6;
}
.bar__wrapper {
  background-color: #fff;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.2);
  max-height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}
.topbar {
  background-color: #000;
  padding: 0.65rem 0;
}
.topbar p {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
}
.topbar a {
  color: #acff1c;
}
.topbar a:hover {
  text-decoration: underline;
}
nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.65rem 1rem;
}
nav .logo {
  width: 9rem;
}
nav .navlink {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
nav .navlink:hover {
  color: #397dd6;
}
.navlinks {
  display: flex;
  gap: 2rem;
}
.navlinks .caret {
  height: 10px;
  margin-left: 4px;
}
@media (max-width: 40rem) {
  .navlinks {
    display: none;
    flex-direction: column;
    gap: 0;
    order: 3;
    padding: 1.5rem;
    width: 100%;
  }
  .navlinks .navlink {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    padding-block: 1rem;
  }
}
.mobile-nav {
  width: 1.5rem;
}
.mobile-nav,
.mobile-nav img:last-child {
  display: none;
}
@media (max-width: 40rem) {
  .mobile-nav {
    display: block;
  }
}
.services [data-state="collapsed"] {
  display: none;
}
@media (min-width: 40rem) {
  .services [data-state="expanded"] {
    display: flex;
  }
}
.services-dropdown {
  background-color: #eee;
  margin-top: 1rem;
  padding-block: 1rem 2rem;
}
@media (min-width: 40rem) {
  .services-dropdown {
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    min-width: 630px;
    padding-block: 2rem;
    position: fixed;
    right: 2rem;
  }
  .services-dropdown .service-link {
    padding: 1rem;
  }
}
.services-dropdown > * {
  padding-inline: 2rem;
}
.services-dropdown a {
  color: #59636e;
  font-size: 15px;
}
.service-link {
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
}
.service-link:hover {
  background-color: #f9f9f9;
}
.service-link:hover .first-word {
  color: #397dd6;
}
.service-link img {
  opacity: 0.9;
  width: 32px;
}
.service-link p {
  line-height: 1.3;
}
.service-link .first-word {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 40rem) {
  .main-services {
    border-right: 1px solid rgba(89, 99, 110, 0.267);
  }
}
.other-services {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
}
.other-services span {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}
.other-services a:hover {
  color: #397dd6;
}
.alert-wrapper {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.741);
  display: grid;
  inset: 0;
  padding: 2rem;
  place-items: center;
  position: fixed;
}
.alert-box {
  background-color: #fff;
  border: 1px solid rgba(57, 125, 214, 0.286);
  border-radius: 4px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
  display: grid;
  max-width: 560px;
  padding: 1.5rem;
}
.alert-box .alert-heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.alert-box h1 {
  color: #397dd6;
  font-size: 1.2rem;
  letter-spacing: 0;
  margin-bottom: 0;
}
.alert-box p {
  color: rgba(0, 0, 0, 0.816);
}
.alert-box svg {
  opacity: 0.75;
}
.span-2 {
  grid-column: 1/-1;
}
main {
  padding-top: 116px;
  width: 100vw;
}
@media (min-width: 87.5rem) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  main .form-content {
    padding-block: 4rem;
  }
}
h1 {
  font-size: clamp(1.5rem, 1.0213rem + 2.1277vw, 2.5rem);
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.form-intro {
  background: linear-gradient(180deg, #03cdfd, #397dd6);
  padding: 5rem 1rem;
  position: relative;
}
.form-intro:before {
  background-image: url(../images/optimised/geometric-bg.webp);
  content: "";
  height: 100%;
  opacity: 0.02;
  position: absolute;
  width: 100%;
}
.form-intro .sub {
  color: #fff;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.2;
  opacity: 0.85;
}
.form-intro .phone {
  font-weight: 500;
}
.intro-wrapper {
  max-width: 680px;
}
.form-content {
  overflow-y: auto;
  padding-inline: 2rem;
}
@media (max-width: 87.5rem) {
  .form-content {
    margin-block: 3rem;
  }
}
.session-form {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  width: min(100%, 50rem);
}
@media (max-width: 48rem) {
  .session-form > * {
    grid-column: 1/-1;
  }
}
.session-form .important {
  color: red;
  font-weight: 600;
}
.session-form .sublabels {
  color: #397dd6;
  display: block;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.session-form input,
.session-form select {
  height: 2.5rem;
}
.session-form textarea {
  height: 6rem;
}
.session-form input,
.session-form select,
.session-form textarea {
  background-color: rgba(57, 125, 214, 0.25);
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  padding-inline: 0.5rem;
  width: 100%;
}
.session-form input:hover:not([type="submit"]),
.session-form select:hover:not([type="submit"]),
.session-form textarea:hover:not([type="submit"]) {
  background-color: rgba(57, 125, 214, 0.4);
}
.session-form input:focus:not([type="submit"]),
.session-form select:focus:not([type="submit"]),
.session-form textarea:focus:not([type="submit"]) {
  background-color: #fff;
  border: 1px solid rgba(57, 125, 214, 0.4);
  outline: none;
}
.session-form [type="date"],
.session-form [type="time"],
.session-form select {
  font-size: 0.8rem;
}
.session-form [type="submit"] {
  color: #fff;
  font-size: 0.85rem;
  font-weight: 600;
  margin: 0;
}
.session-form [type="submit"]:hover {
  background-color: #acff1c;
  color: #000;
}
.loading-submit {
  background-color: #397dd6;
  display: grid;
  height: 2.5rem;
  place-items: center;
}
.loading-submit.loading input {
  display: none;
}
.loading-submit.loading .loader {
  display: inline-block;
}
.loader {
  animation: rotation 1s linear infinite;
  border: 5px solid;
  border-color: #fff #fff transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: none;
  height: 36px;
  width: 36px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
input,
select {
  margin-top: 0.5rem;
}
.o-5 {
  color: red;
}
/*# sourceMappingURL=session.css.map */
