/* Error: There is no module with the namespace "variables".
 *    ,
 * 77 |         background-color: variables.$primary-color-2;
 *    |                           ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets\scss\_general.scss 77:27  @use
 *   assets\scss\visa.scss 2:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "variables".\a    \2577 \a 77 \2502          background-color: variables.$primary-color-2;\d\a    \2502                            ^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets\\scss\\_general.scss 77:27  @use\a   assets\\scss\\visa.scss 2:1        root stylesheet';
}
